.table-dark{
    border-radius: 10px;
}
.leftD{
    display: grid;
    place-items: center;
}
.img{
    position: relative;
    width: 500px;
}
.downloadImg{
    width: inherit;
}
.dwonloadRow{
    justify-content: flex-end;
}
.downloadP{
    font-family: serif;
    padding-top: 30px;
    font-family: monospace,sans-serif;
    text-align: center;
}
.donloadH{
    text-align: center;
    text-decoration: overline;
}
.rightD{
    padding-top: 10px;
}
.rowD{
    /* display: none; */
    margin-top: -16px;
    font-family: monospace,sans-serif;
}
.table{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.table td{
    text-align: center;
    padding-right: 20px;
}
.table th {
    text-align: center;
}
.D{
    display: grid;
}
.closeicon{
    justify-self: end;

}
.closeicon:hover{
    cursor: pointer;
}

@media(max-width:767px){
    .D{
        text-align: center;
    }
    .rightD{
        padding:10px 20px 0px;
    }
    .rowD{
        padding: 0px 20px;
    }
    .img{
        width: 250px;
    }
}
@media(min-width:768px){
    .rowD{
        margin-top: 0px;
    }
}